:root{
    --basic-gray: #333333;
    --basic-black: #000000;
    --basic-white: #fff;
    --basic-blue: #81B3D2;
    --basic-brown: #766357;
    --search-background-hover: #604E43;
    --search-background-active: #503E33;
    --basic-black-search: rgba(255,255,255,0.3)
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-gray);
}

.main {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
}

.sedona{
    line-height: 26px;
}

.nav{
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-black);
}

.nav li{
    list-style-type: none;
}

.nav-links{
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--basic-black);
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.whiteblue{
    width: 400px;
    height: 256px;
    color: var(--basic-white);
    background: var(--basic-blue);
}

.offer {
    font-size: 14px;
    font-weight: 400;
}

.reasons, .reasons2 {
    list-style-type: none;
}

.interested {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-black);
}

.selection {
    font-size: 14px;
    line-height: 24px;
}

.search {
    width: 568px;
    height: 86px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-white);
    background: var(--basic-brown);
}

.nav-links:link{

}

.nav-links:visited{

}

.nav-links:hover{

}

.nav-links:active{

}

/* .search:link{

}

.search:visited{

} */

.search:hover{
    background: var(--search-background-hover);
}

.search:active{
    color: var(--basic-black-search);
    background: var(--search-background-active);
}